/* CSS to add basic styling to generated HTML Document */
.team-heading {
    background-image: linear-gradient(skyblue, pink)
}

div.card.employee {
display: flex;
justify-content: space-around;
}

.card-body {
    background-color:blue;
    color: white;
}

.card-subtitle {
    color: white;
}